.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.mainImageTextContainer {
  color: black;
  width: 100%;
  padding: 5%;
}

.mainImage {
  width: 100%;
  /* height: auto; */
  min-height: 500px;
  max-height: 1000px;
  vertical-align: bottom;
  object-fit: cover;
  /* object-position: center; */
}

.name {
  font-size: 3rem;
}

.role {
  font-size: 0.75rem;
  padding-bottom: 2%;
}

.description {
  font-size: 1rem;
}
