.container {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* top: 35%; */
  width: 100%;
  padding-left: 12%;
  padding-top: 20%;
  overflow: hidden;
}

.title {
  font-size: 4.25vmax;
  font-weight: 900;
  margin-bottom: 1.25%;
}

.text,
.smallText {
  font-size: 1vmax;
  overflow: hidden;
  line-height: 1.75rem;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.readMoreContainer {
  margin-top: 1%;
}
.readmore {
  width: 140px;
  padding: 14px 18px;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(209, 221, 219, 0.3);
  color: #d1dddb;
  font-size: 12px;
  font-weight: 900;
}

.readmore:hover {
  color: white;
  background-color: rgb(96, 131, 96);
}
