.container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
}

.backgroundImage {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
}

.imageTextContainer {
  position: absolute;
  width: 100%;
  /* border: 1px solid red; */
  /* position: absolute;
  z-index: 1;
  width: 70%;
  height: auto; */
}
/* .imageText {
  width: 100%;
  height: auto;
} */

.text {
  color: #d1dddb;
  font-size: 8vw;
  text-align: center;
  letter-spacing: 10px;
}

@media all and (max-width: 750px) {
  .backgroundImage {
    aspect-ratio: 3/3;
    object-position: top;
  }
}
