.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-inline: auto;
  justify-content: space-between;
}

.sectioncontainer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.svgcontainer {
  width: 2rem;
  height: auto;
  display: flex;
  padding-right: 1rem;
}

.svg {
  width: 100%;
  height: auto;
}
.text {
  /* color: rgb(110, 110, 110); */
  font-size: 0.75rem;
  /* font-size: 0.75vmax; */
  color: #d1dddb;
}

@media all and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
