.image {
  width: 100%;
  transition: transform 1s ease;
  height: auto;
}

.container {
  width: 10%;
  display: flex;
  margin: 1.5%;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.3);
}
