.container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  padding: 2% 11%;
}

.logocontainer {
  width: 12%;
  height: auto;
}

.logo {
  width: 100%;
  height: auto;
}

.navcontainer {
  width: 7%;
}

.nav {
  width: 100%;
  height: auto;
}
