.container {
  min-height: 100vh;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
}

.container section {
  height: 100%;
  scroll-snap-align: start;
  min-height: 800px;
}

.container section:nth-child(1) {
  background-color: #0b0b0d;
  height: 100vh;
}

@media all and (max-width: 480px) {
  .container section {
    min-height: 800px;
  }
}
