.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: rgb(31, 31, 31);
}

.logocontainer {
  width: 20%;
  height: auto;
}

.logo {
  width: 100%;
  height: auto;
}

.navcontainer {
  width: 10%;
  height: auto;
}

.nav {
  width: 100%;
  height: auto;
}
