.imageContainer {
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 3/3;
  /* z-index: -1; */
  background-color: rgba(0, 0, 0, 1);
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 3/3;
  position: absolute;
  opacity: 0.3;
}

.textContainer {
  text-align: center;

  color: rgba(255, 252, 252, 0.8);
  background-color: rgb(28, 66, 28);
}

.latestevents {
  font-size: 2rem;
  text-align: center;
  padding: 5%;
  color: #013220;
}

.calendaritems {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

@media all and (min-width: 750px) {
  .container {
    display: none;
  }
}
