.container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #0b0b0d;
  color: #166534;
  min-height: 800px;
}

.textcontainer {
  width: 80%;
  margin: auto;
  justify-content: center;
}
.imagecontainer {
  position: relative;
  width: 60%;
  height: 60%;
  object-fit: contain;
  object-position: center;
  min-height: 800px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
