.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  height: 8vh;
  height: 100px;
  background-color: #0b0b0d;
  color: #166534;
  letter-spacing: 0.1rem;
  /* padding: 0.5rem; */
  background-color: black;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.rimbulis_container,
.close_container {
  position: relative;
  width: 8%;
  height: 100%;
}

.close_container {
  width: 8%;
}

.logo_container {
  position: relative;
  width: 15%;
  height: 100%;
}

.navtextcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.size {
  font-size: 1.1rem;
  text-align: center;
}

.size:hover {
  color: #eceeff;
  scale: 1.1;
  transition: all 0.5s;
}

.mobile_container_start,
.mobile_first_part {
  display: none;

  flex-direction: row;
  justify-content: space-between;
  /* justify-items: center; */
  /* align-items: center; */
  height: 8vh;
  min-height: 80px;
  background-color: black;
  color: #166534;
  letter-spacing: 0.1rem;
  padding: 0rem 1rem;
}

.mobile_container_end {
  display: none;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  color: #166534;
  /* letter-spacing: 0.1rem; */
}

.mobile_first_part {
  display: flex;
}

.test1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 10000;
  /* overflow: hidden; */
  min-height: 800px;
}

.text {
  text-decoration: none;
  list-style-type: none;
  color: #eceeff;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid #eceeff;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 1.3rem;
}

.text:hover {
  border-bottom: 1px solid #00b22e;
  color: #00b22e;
}
.socialnetworkcontainer {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.socialnetwork {
  position: relative;
  height: 3rem;
  width: 100%;
  color: #00b22e;
}
@media all and (max-width: 768px) {
  .container {
    display: none;
  }
  .mobile_container_start,
  .mobile_container_end {
    display: flex;
    position: relative;
  }

  .mobile_container_end {
    min-height: 800px;
  }
}
