/* .contactsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 252, 252, 0.8);
  background-color: #013220;
  padding: 10% 0 5% 0;
}

.contactTitle {
  letter-spacing: 0.15rem;
  font-weight: 900;
  font-size: 1rem;
}

.contactparagraph {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.contactfirstside {
  text-align: left;
  margin-right: 2%;
  font-size: 0.75rem;
}

.contactsecondside {
  text-align: right;
  margin-left: 2%;
  font-size: 0.75rem;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  /* width: 100%; */
  /* margin: auto; */
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: center;
  /* background-color: rgba(13, 94, 54, 0.902); */
  /* color: #d1dddb; */
}

.title {
  letter-spacing: 0.15rem;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: #013220;
  /* color: white; */
}
