.container {
  width: 100%;
  /* background-color: #1b1212; */
  background-color: #181717;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sectioncontainer {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  justify-content: center;
  /* align-items: center;
  justify-items: center; */
}

.socialNetworkContainer {
  display: flex;
  /* justify-content: left; */

  z-index: 1000;
}

.rotala {
  display: flex;

  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 150%;
  /* border: 1px solid red; */
  font-size: 0.75rem;
  color: rgb(199, 199, 199);
}
