.container {
  overflow: hidden;
  background-color: rgba(14, 30, 37, 0.12);
}

/* .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
} */

.row {
  display: flex;
  width: auto;
}

.rowcolumn {
  background-clip: padding-box;
  vertical-align: bottom;
}

.rowcolumn > div {
  margin: 2%;
  vertical-align: bottom;
}

.imageContainer {
  overflow: hidden;
  position: relative;
}

/* .imageparanetcontainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  cursor: pointer;
  vertical-align: bottom;
}

.fullpicturecontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: center;
}

.close {
  margin: 0.3rem;
  padding: 0.1rem;
  color: white;
  text-align: right;
  position: absolute;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 0;
  right: 0;
}

.overlaycontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  margin: 0 2%;
}

.navigator {
  font-size: 2rem;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.1) rotate(2deg);
}

.overlayImage {
  max-width: 80vw;
  max-height: 100vh;
  object-fit: contain;
}

.backsvg {
  color: white;
}

/* .my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background: grey;
  margin-bottom: 30px;
}

.test {
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 100%;
} */

/* @media all and (max-width: 1100px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 950px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

@media all and (max-width: 750px) {
  .imageContainer {
    display: none;
  }
}
