/* .container {
  display: flex;
  background-color: #0b0b0d;
  flex-direction: row-reverse;
}

.div1 {
  flex: 1;
  position: relative;
}

.div2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.card_container div {
  width: 65%;
  min-width: 250px;

  height: 65%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  transform-origin: 100% 100%;
  transition: all 2s;
}

.person {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(22, 100, 52, 0.95);
  transform: rotate(0deg);
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question,
.answer,
.name,
.title {
  color: #eceeff;
}

.name {
  font-size: 1.25rem;
  font-weight: 900;
}
.title {
  font-size: 0.75rem;
  font-weight: 500;
}
.question {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;

  font-weight: 500;
  letter-spacing: -0.01rem;
  width: 85%;
  margin-inline: auto;
  padding-bottom: 0.5rem;
}
.answer {
  font-size: 0.85rem;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-weight: 300;
  letter-spacing: -0.01rem;
  margin-inline: auto;
}

.person:hover {
  transform: rotate(5deg) translate(0px, -30px);
  transition: all 1s;
}

.q1 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(32, 201, 151, 0.8);
  transform: rotate(10deg) translate(0px, -30px);
}

.q2 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(92, 124, 250, 0.8);
  transform: rotate(20deg) translate(0px, 80px);
}
.q3 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(204, 93, 232, 0.8);
  transform: rotate(30deg) translate(-20px, 40px);
}
.q4 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(173, 181, 189, 0.8);
  transform: rotate(50deg) translate(-80px, 80px);
}
.q5 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(132, 94, 247, 0.8);
  transform: rotate(-10deg) translate(-10px, -30px);
}
.q6 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(148, 216, 45, 0.8);
  transform: rotate(-20deg) translate(50px, 20px);
}
.q7 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(34, 184, 207, 0.8);
  transform: rotate(-60deg) translate(100px, -40px);
}
.q8 {
  grid-area: 3 / 2 / 9 / 4;
  background-color: rgba(255, 169, 77, 0.8);
  transform: rotate(-40deg) translate(-10px, 0px);
}

.q1:hover {
  transform: rotate(15deg);
  transition: all 1s;
}
.q2:hover {
  transform: rotate(25deg);
  transition: all 1s;
}

.q3:hover {
  transform: rotate(35deg);
  transition: all 1s;
}
.q4:hover {
  transform: rotate(45deg);
  transition: all 1s;
}
.q5:hover {
  transform: rotate(-15deg);
  transition: all 1s;
}
.q6:hover {
  transform: rotate(-25deg);
  transition: all 1s;
}
.q7:hover {
  transform: rotate(-35deg);
  transition: all 1s;
}
.q8:hover {
  transform: rotate(-45deg);
  transition: all 1s;
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;

  margin: auto;
  min-height: 350px;
  min-width: 350px;
}

.img {
  object-fit: cover;
  object-position: center;
}

.arrow_left,
.arrow_right {
  display: none;
  cursor: pointer;
}

@media all and (max-width: 1200px) {
  .arrow_left,
  .arrow_right {
    display: flex;
    top: 0%;
  }

  .arrow_right {
    top: 0%;
  }

  .q1 {
    background-color: rgba(32, 201, 151, 1);
  }

  .q2 {
    background-color: rgba(92, 124, 250, 1);
  }
  .q3 {
    background-color: rgba(204, 93, 232, 1);
  }
  .q4 {
    background-color: rgba(173, 181, 189, 1);
  }
  .q5 {
    background-color: rgba(132, 94, 247, 1);
  }
  .q6 {
    background-color: rgba(148, 216, 45, 1);
  }
  .q7 {
    background-color: rgba(34, 184, 207, 1);
  }
  .q8 {
    background-color: rgba(255, 169, 77, 1);
  }
  .person {
    background-color: rgba(22, 100, 52, 1);
  }

  .card_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .card_container div {
    transform: none;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
    border-radius: 0rem;
    transition: all 1s;
    width: 100%;
  }

  .card_container div:hover {
    transform: none;
  }

  .question,
  .answer,
  .name,
  .title {
    flex: 0;
  }

  .div1,
  .div2 {
    height: auto;
    overflow: hidden;
  }

  .img {
    border-start-end-radius: 0%;
  }
}

@media all and (max-width: 765px) {
  .container {
    flex-direction: column;
  }
}

.arrow_left,
.arrow_right {
  color: white;
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 40px;
}

.arrow_left {
  left: 0%;
}

.arrow_right {
  right: 0%;
} */

.container {
  display: flex;
  flex-direction: row-reverse;
}

.div1 {
  flex: 1.75;
  position: relative;
  display: flex;
  justify-content: center;

  align-items: center;
  background-color: rgba(22, 100, 52, 1);
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.div2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  object-position: center;
}

.div1,
.div2 {
  height: auto;
  overflow: hidden;
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;

  margin: auto;
  min-height: 350px;
  min-width: 350px;
}

.question,
.answer,
.name,
.title {
  color: rgba(236, 238, 255, 1);
}

.title {
  font-size: 0.75rem;
  font-weight: 500;
}
.name {
  font-size: 3rem;
  text-transform: uppercase;
}

.question,
.answer,
.name,
.title {
  flex: 0;
}

@media all and (max-width: 1200px) {
  .title {
    font-size: 0.5rem;
  }
  .name {
    font-size: 2rem;
  }
}

@media all and (max-width: 765px) {
  .container {
    flex-direction: column;
  }
}
