.container {
  width: 90%;
  margin-inline: auto;
}

.calendaritems {
  margin-top: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1%;
  row-gap: 1%;
  position: relative;
}

.latestevents {
  font-size: 2rem;
  padding-top: 3%;
  color: #013220;
}

@media all and (max-width: 1200px) {
  .container {
    width: 95%;
    margin-inline: auto;
  }
}

@media all and (max-width: 950px) {
  .container {
    width: 95%;
    margin-inline: auto;
  }

  .calendaritems {
    grid-template-columns: 1fr 1fr;
  }
}
