.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 4/2;
}

.container {
  width: 80%;
  margin: auto;
  padding: 2.5% 0;
}

.title {
  text-align: center;
  color: green;
  letter-spacing: 0.2rem;
  width: 100%;
  margin: auto;
  padding-bottom: 2%;
}

.text {
  text-align: center;
  line-height: 1.75;
  color: rgb(110, 110, 110);
}

.desktopContainer {
  position: relative;
}

@media all and (max-width: 750px) {
  .desktopContainer {
    display: none;
  }
}
