.container {
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 4/2;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  aspect-ratio: 4/2;
  position: absolute;
  opacity: 0.5;
}
