.container {
  margin-top: 2rem;
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin-inline: auto;
  justify-content: space-between;
}
/* .title {
  letter-spacing: 0.15rem;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: #013220;
  color: white;
} */

.sectioncontainer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;

  /* border: 1px solid red; */
}

.svgcontainer {
  width: 2rem;
  height: auto;
  display: flex;
  padding-right: 1rem;
  /* border: 1px solid green; */
}

.svg {
  /* color: green; */
  width: 100%;
  height: auto;
}
.text {
  color: rgb(110, 110, 110);
  font-size: 0.75rem;
  /* color: #d1dddb; */
}
